<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwce.mapper.AskMapper">
<insert id="askcreate">
   INSERT
     INTO ask
       ( stuname,
         professor,
         title,
         con)
   VALUES
       ( #{stuname},
         #{professor},
         #{title},
         #{con} )
   </insert>
	
<select id="asklistAll" resultType="com.kwce.domain.AskVO">
   <![CDATA[
   	SELECT
         stuname,
         professor,
         ndate,
         title,
         con
     	FROM ask
   ]]>
</select>
</mapper>