<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwce.mapper.LectureMapper">

	
	<select id="list" resultType="com.kwce.domain.LectureVO">
	<![CDATA[
	SELECT
		   sname,
		   professor,
		   sno,
		   stime,
		   total,
		   apply,
		   credit,
		   major
	  FROM subj
	  	order by stime desc
	]]>
	</select>
	<select id="read" resultType="com.kwce.domain.LectureVO">
	SELECT
		   sname,
		   professor,
		   sno,
		   stime,
		   total,
		   apply,
		   credit,
		   major
	 FROM subj
	 WHERE sno = #{sno}
	</select>
	
	<insert id="apply">
	INSERT
	  INTO applist
		 ( id,
		   subj,
		   credits,
		   major)
	VALUES
		 ( #{id},
		   #{subj},
		   #{credits},
		   #{major})
	</insert>
	
	<update id="updateApply">
    UPDATE subj
         SET apply = apply + 1 
    WHERE sno=#{sno} and total > apply
	</update>
	
	<delete id="cancel">
	DELETE
	 FROM applist
	WHERE subj = #{subj}
	</delete>
	
	<update id="updateCancel">
    UPDATE subj
         SET apply = apply - 1 
    WHERE sno=#{sno} and apply > 0
	</update>
	
</mapper>